extends layout

block content
    img(src='https://i.imgur.com/CK9zPfW.png', width='100%')
    hr
    small v0.4.3
    br
    small &copy; 2017 Jiaping Zeng
    br
    //small  | 
    small
        a(href="https://github.com/jiapingzeng/goldpatrick") view source 
            i.fa.fa-external-link

block action
    button.btn.btn-primary.btn-block#send
        i.fa.fa-hand-o-right
        |  Send